<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Apple store</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li  *ngFor="let categorie of list" [ngClass]="category == categorie._id ? 'nav-item active' : 'nav-item'">
        <a class="nav-link" (click)="categoryApply(categorie._id)">{{categorie.title}} <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" [(ngModel)]="search"  placeholder="Search" aria-label="Search">
      <button (click)="searchApply()" class="btn btn-outline-success my-2 my-sm-0">Search</button>
    </div>
  </div>
</nav>
